html,body
{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    overflow-x: hidden;  
}
/*Menu de navegação*/
#navgeral{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color:#8c163e; 
    width: 100%;   
}

#navgeral ul
{
    display: flex;
    padding: 0;/*espaçamento interno*/
    margin: 12px;/*espaçamento externo*/
    width: 70%;/*largura em 70% da pagina*/
    list-style: none;/*remove marcadores de lista*/
    color: #f1f1f1; 
    text-decoration: none;
}
#navgeral ul li
{        
    display: flex;
    flex-direction: row;/*direção do conteúdo*/
    width: 100%;/*largura do elemento em 100%*/
    height: 50px;/*algura do elemento*/
    line-height: 50px;/*alinhamento horizontal*/
    text-align: center;/*texto centralizado*/
        
}
#navgeral ul li a
{
    width: 100%;/*largura do elemento em 100%*/
    text-decoration: none;/*remove underline do link*/
    color: #f1f1f1;
    font-family: 'Oswald', sans-serif;
}
#navgeral ul li a:hover
{
    width: 100%;
    background-color: #e38d32;
    color: #eee;
    border-bottom: #eee solid 1px;
    opacity: 0.9;
}
/*Imagens*/
img 
{
    margin-top: 10px;
    width: 300px;
    margin-left: 130px;  
    border: solid black 2px;
}
.img4
{
    top: 60px;
    width: 300px;
    position: relative;
    left: -410px;
    border: solid black 2px;
}
.img5
{
    top: 60px;
    width: 300px;
    position: relative;
    left: -530px;
    border: solid black 2px;
}
.img6
{
    top: -413px;
    width: 300px;
    position: relative;
    left: 870px;
    border: solid black 2px;
}
.img7
{
    top: -413px;
    width: 300px;
    position: relative;
    left: 726px;
    border: solid black 2px;
}
p
{   
    font-family: 'Oswald', sans-serif;  
    font-size: 18px;
}
.logo
{
    width: 399px;
    position: absolute;
    top: -15%;
    left: -99px;
}
/*Botões*/
.title
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 43px;
    right: 80%;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}
.title1
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -433px;
    right: -34%;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;   
}
.title2
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -433px;
    right: -50%;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}
.title3
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -433px;
    right: -66%;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}

.title4
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 100px;
    right: 640px;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}
.title5
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 100px;
    right: 740px;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}
.title6
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -376px;
    right: -670px;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}
.title7
{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -376px;
    right: -530px;
    border: none;
    padding: 12px 24px;
    margin: 2px 0px;
    cursor: pointer;
}
/*formulario*/
input[type=text], select
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;   
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=submit]
{
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
div
{
    margin-top: 19px;;
    width: 30%;
    border: 5px;
    background-color: #a4c071;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 30%;
}
input[type=button]
{
   background-color: #f5424e;
}
/* Top10*/
h1
{
    font-family: 'Lato', sans-serif; 
    color: #098cd9;
    position: relative;
    left: 500px;
}

.top10
{
  position: relative;
  padding: 12px 35%;
  left: 9%;
  font-family: 'Lato', sans-serif; 
  float: left;
  top: -360px;
 
}

/* Texto Dragon Ball*/
.top101
{
  position: relative;
  padding: 12px 35%;
  left: 9%;
  font-family: 'Lato', sans-serif; 
  float: left;
  top: -332px;
}
.top10img
{
    border: solid black 2px;
    position: relative;
    left:20%;
    float: left;
    
}
.top7img
{
    border: solid black 2px;
    position: relative;
    left:20%;
    float: left;
    widows: 304px;
    height: 453px;
}
.nome10
{
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 830px;
    top: 100px;
 
}
.num10 
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 830px;
    top: 130px; 
    color: #8c163e; 
}

.nome9
{
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 658px;
}
.num9
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 680px; 
    color: #8c163e;
}
.nome8
{
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 122vh;
}
.num8
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 124vh; 
    color: #8c163e;
}
.nome7
{
    margin: 0%;
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 184vh;
}
.num7
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 185vh; 
    color: #8c163e;
}
.nome6
{
    
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    z-index: -1;
    left: 400px;
    top: 217vh; 
}
.num6
{
  
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 223vh;
    color: #8c163e;
}
.nome5
{
    margin: 0%;
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 274vh;

}
.num5
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 274vh;  
    color: #8c163e;  
}
.nome4
{

    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 330vh;

}
.num4
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 333vh; 
    color: #8c163e;
     
}
.nome3
{
    margin: 0%;
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 367vh;

}
.num3
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 367vh; 
    color: #8c163e;
}
.nome2
{
    margin: 0%;
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 428vh;

}
.num2
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 428vh;
    color: #8c163e;
}
.nome1
{
    margin: 0%;
    font-size: 20px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top: 494vh;

}
.num1
{
    margin: 0%;
    font-size: 35px;
    padding: 12px 0px;
    position: relative;
    left: 400px;
    top:496vh;   
    color: #8c163e; 
}
@media only screen and (max-width: 1379px) {
    .num10
    {
     position: relative;
     left: 90vh;
    }
    .nome10 {
      position: relative;
      left: 90vh;
    }
    .top10 
    {
      position: relative;
      left: 30vh;
    }
    .num9
      {
       position: relative;
       left: 32vh;
      }
    .nome9 
      {
        position: relative;
        left: 36vh;
      }
    .top9 
    {
        position: relative;
        left: 27vh;
    }
  }