*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Light.ttf); 
}


body{
    background-color: #121213;
    font-family: 'Roboto';
    margin: 1.5rem;

}
.menu{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;

}
.menu ul{
    display: flex;
    justify-content: center;
   
}
.menu li, a {
    text-decoration: none;
    list-style: none;
    margin-left: 1.5rem;
    color: white;
    font-family: 'Roboto';
}
.menu a:hover{
    border-bottom: 2px solid #d68109;
}
.logo{
    color:#d62709 ;
    font-family: 'Audiowide';
    font-size: 40px;
    cursor: pointer;
}
.logo span{
    color: #d68109;
    text-transform: uppercase;
}

main{
  display: flex;
  height: 100vw;
  height: 100vh;
  justify-content: space-around;
}
.logoS{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

form{
    background-color: #202024;
    padding: 20px 10px 20px 10px;
    width: 25rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

form input{
   
    padding: 17px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #121213;
    color: white;
}

form input::placeholder{
    font-weight: 540;
    font-size: 0.9rem;
}

.email{
    margin-bottom: 1.5rem;
}

.senha{
    margin-bottom: 0.5rem;
}

.forgot{
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #8257e599;
    cursor: pointer;
}

.btn{
    margin-bottom: 1rem;  
}

form input[type="submit"]{
    margin-top: 1rem;
    width: 85%;
    cursor: pointer ;
    background-color: #8257e5;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.redesSociais{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.redesSociais button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 50%;
    height: 80%;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #2d2d30;
    border-radius: 7px;
    cursor: pointer; 
}

.redesSociais p{
    color: white;
    font-weight: 500;
}
.big{
    margin-bottom: 2rem;
    font-size: 90px;
}

.logoS h1{
    color: white;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bolder;
}
.logoS{
    line-height: 2rem;
}

