@font-face {
    font-family: "poppins";
    src: url(../font/Poppins/Poppins-ExtraLightItalic.ttf);
    
}
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Light.ttf); 
}


body{
  background-color: #101210;
  margin: 1.5rem;
}
header{
    height: 100px;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
 }
 .menu ul{
     display: flex;
     justify-content: center;
    
 }
 .menu li, a {
     text-decoration: none;
     list-style: none;
     margin-left: 1.5rem;
     color: white;
     font-family: 'Roboto';
 }
.menu a:hover{
    border-bottom: 2px solid #d68109;
}
.logo{
    color:#d62709 ;
    font-family: 'Audiowide';
    font-size: 40px;
    cursor: pointer;
}
.logo span{
    color: #d68109;
    text-transform: uppercase;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem; 

 }

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.post span{
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

 .post img{
    width: 200px;
    border-radius: 1rem;
    margin-bottom: 2rem;
     transition: 0.7s all ;
    cursor: pointer;
 }

 .post img:hover{
    transform: scale(1.1);
 }
 


 .menu img{
    display: none;
 }

 @media (max-width:720px) {
    body{
       
    }
    .menu img{
      
     }
     .menu{
        width: 100vw;
        height: 100vh;
        
        z-index: 999999999;
     }

     .menu ul,li{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
     }
 }